.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.btn_regular{
  background: #1976d2 !important;
  font-weight: 600 !important;
  padding: 10px 30px !important;
  transition: all .3s;
  color: #ffffff !important;
  border-radius: 0 !important;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
}
.btn_regular:hover{
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.card_design{
  box-shadow: 0 !important;
  transition: all .3s;
}
.card_design:hover{
  box-shadow: 0 10px 80px 0px #6776e5 !important;
}

.bike_card_design{
  box-shadow: 0 !important;
  transition: all .3s;
  border: 1px solid #1976d2  !important;
}
.bike_card_design:hover{
  box-shadow: 0 10px 35px 0px #bbb3b3 !important;
  border: 1px solid #ff4e2f  !important;
}

.dash_btn{
  background: #00bf84;
  padding: 3px 0 3px 10px;
  width: 90%;
  margin-bottom: 10px;
  text-align: left;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  transition: all .3s;
}

.dash_btn:hover{
  background-color: #1565c0;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.box_container{
  position: relative;
  height: 285px;
  width: auto;
  transition: all .3s ease-in-out !important;
  cursor: pointer;
}

.box_design{
  text-align: left;
  border: 1px solid #e0e0e0 !important;
  border-radius: 0 !important;
  position: absolute;
  top: 8%;
  transition: all .3s ease-in-out !important;
}
.person_box{
  position: absolute;
  bottom: 0;
}
.box_container:hover .box_design{
  top: 0;
  box-shadow: 0 10px 30px 0px #e0e0e0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
